<div class="container" style="padding: 25px">
    <div class="content_area col-md-12">
        <div class="form-layout">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group form-column">
                        <div class="clearfix">
                            <label class="control-label" style="padding-right: 0px;">Fitxer Devolucions SEPA</label>
                        </div>
                        <div class="control-input-wrapper">
                            <div class="control-input">
                                <input id="sepa_xml" class="form-control" type="file" name="sepa_xml">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="second_panel" class="col-md-9" style="display: none">
                    <table id="tabla_xml" class="table table-striped">
                        <thead class="thead-default">
                        <tr>
                            <th>Rebut</th>
                            <th>Nom</th>
                            <th>Cantitat</th>
                        </tr>
                        </thead>
                        <tbody id="tabla_xml_body">

                        </tbody>
                    </table>
                    <button id="end_xml" class="btn btn-primary btn-sm primary-action pull-right"><i class="visible-xs octicon octicon-sync"></i><span class="hidden-xs">Actualitzar Impagats</span></button>
                </div>
            </div>
        </div>
    </div>
</div>