<h2 class="text-center">{%= __("Voting Right") %}</h2>
<h5 class="text-center">
    <p>{%=__("Territory") + ": " + filters.territory %}</p>

	<p>{%=__("Day of the vote: ") + " " + dateutil.str_to_user(filters.date) %}</p>

    {% if(filters.field_of_interest) { %}
        <p>{%= __("Field of Interest: ") + " " + __(filters.field_of_interest) %}</p>
    {% } %}
</h5>
<hr>
<table class="table table-bordered">
	<thead>
		<tr>
			<th style="width: 5%">N.</th>
            <th style="width: 20%">{%= __("Surname 1") %}</th>
			<th style="width: 20%">{%= __("Surname 2") %}</th>
			<th style="width: 20%">{%= __("Name") %}</th>
            <th style="width: 20%">{%= __("DNI") %}</th>
			<th style="width: 15%">{%= __("Have Request") %}</th>
		</tr>
	</thead>
	<tbody>
		{% var ter = ""; %}
		{% for(var i=0, l=data.length; i<l; i++) { %}
			{% if(ter!=data[i]["Territory"]) { %}
				{% ter = data[i]["Territory"]; %}
				<tr>
					<td colspan="6">{%= ter %}</td>
				</tr>
			{% } %}

			<tr>
				<td>{%= i %}</td>
                <td>{%= data[i]["Surname 1"] %}</td>
				<td>{%= data[i]["Surname 2"] %}</td>
				<td>{%= data[i]["Name"] %}</td>
                <td>{%= data[i]["DNI"] %}</td>
				<td>{%= data[i]["Have Request"] %}</td>
			</tr>
		{% } %}
	</tbody>
</table>
<p class="text-right text-muted">{%=__("Printed On") + " " + dateutil.str_to_user(dateutil.get_datetime_as_string()) %}</p>