<div>
	<style>
        .result {
            display: none;
        }

        .list-paging-area {
            display: none;
        }
        .message-area{
            padding: 15px;
        }
    </style>

	<div class="filter-area">

	</div>

	<div style="padding-top: 15px; padding-bottom: 25px">
		<div class="col-md-6" style="font-weight: bold">
			Actualment hi ha <span id="n_contacts">0</span> contactes seleccionats
		</div>
		<div class="col-md-6 text-right">
			<button id="view_contacts" class="btn btn-info btn-sm primary-action"><i class="visible-xs octicon octicon-sync"></i><span class="hidden-xs">Veure Contactes</span></button>
		</div>
	</div>

	<div class="message-area">
		<div class="row">
			<div class="col-md-10">
				<div class="subject"></div>
				<div id="summernote"></div>
			</div>
			<div class="col-md-2">
				<h3>Variables disponibles</h3>
				<div id="attributes"></div>
			</div>
		</div>



		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-3">
						<p style="font-weight: bold">Arxiu Adjunt 1</p>
						<div class="archiu1">
						</div>
					</div>
					<div class="col-md-3">
						<p style="font-weight: bold">Arxiu Adjunt 2</p>
						<div class="archiu2">
						</div>
					</div>
					<div class="col-md-3">
						<p style="font-weight: bold">Arxiu Adjunt 3</p>
						<div class="archiu3">
						</div>
					</div>
					<div class="col-md-3">
						<p style="font-weight: bold">Arxiu Adjunt 4</p>
						<div class="archiu4">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<p style="font-weight: bold">Plantilla correu electrònic</p>
						<div class="template">
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<p style="font-weight: bold">Configuració del correu electrònic</p>
						<div class="configuration">
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">

				<div style="display:none" class="row" id="info_footer">
					<div class="col-md-6">
						<p style="font-weight: bold">Peu:</p>
						<div id="footer">

						</div>
					</div>
					<div class="col-md-6">
						<p style="font-weight: bold">Enviar desde:</p>
						<div id="from">
						</div>
						<p style="font-weight: bold">Respondre a:</p>
						<div id="reply_to">
						</div>
						<p style="font-weight: bold">Copia oculta:</p>
						<div id="bcc">
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>