<div>
	<style>
        .result {
            display: none;
        }

        .list-paging-area {
            display: none;
        }
        .message-area{
            padding: 15px;
        }
    </style>

	<div class="filter-area">

	</div>

	<div style="padding-top: 15px; padding-bottom: 25px">
		<div class="col-md-6" style="font-weight: bold">
			Actualment hi ha <span id="n_contacts">0</span> contactes seleccionats
		</div>
		<div class="col-md-6 text-right">
			<button id="view_contacts" class="btn btn-info btn-sm primary-action"><i class="visible-xs octicon octicon-sync"></i><span class="hidden-xs">Veure Contactes</span></button>
		</div>
	</div>

	<div class="message-area">
		<div class="row">
			<div class="col-md-10">
				<div class="message"></div>
			</div>
			<div class="col-md-2">
				<h3>Variables disponibles</h3>
				<div id="attributes_sms">
				</div>
			</div>
		</div>
	</div>
</div>